<div class='row'>
  <div class='col-sm-4'>
    <%= image_tag @institution.logo rescue nil %>
  </div>
  <div class='col-sm-8'>
    <table class="table table-condensed">
      <tr>
        <th>Confirmation Status</th>
        <td><span class='<%= @member.status.blank? ? "btn btn-danger" : 'btn btn-primary' %>'><%= @member.membership_status %></span>
          <%= link_to 'Confirm Member', confirm_member_path(@member), class: 'btn btn-primary' if can? :confirm, @member %>
        </td>
      </tr>
      <tr>
        <th>Membership type</th>
        <td><%= @member.membership_type %>
        </td>
      </tr>
      <tr>
        <th>Name of organization:</th>
        <td><%= @institution.name_of_organization %></td>
      </tr>

      <tr>
        <th>Establishment year:</th>
        <td><%= @institution.establishment_year %></td>
      </tr>

      <tr>
        <th>Organization unit:</th>
        <td><%= @institution.organization_unit %></td>
      </tr>

      <tr>
        <th>Kebele:</th>
        <td><%= @institution.kebele %></td>
      </tr>

      <tr>
        <th>City:</th>
        <td><%= @institution.city %></td>
      </tr>

      <tr>
        <th>Telephone number:</th>
        <td><%= @institution.telephone_number %></td>
      </tr>

      <tr>
        <th>Email:</th>
        <td><%= @institution.email %></td>
      </tr>

      <tr>
        <th>Website:</th>
        <td><%= @institution.website %></td>
      </tr>

      <tr>
        <th>Pobox:</th>
      <td><%= @institution.pobox %></td>
      </tr>

      <tr>
        <th>Fax:</th>
        <td><%= @institution.fax %></td>
      </tr>

      <tr>
        <th>Contact name:</th>
        <td><%= @institution.contact_name %></td>
      </tr>

      <tr>
        <th>Contact title:</th>
        <td><%= @institution.contact_title %></td>
      </tr>

      <tr>
        <th>Contact telephone number:</th>
        <td><%= @institution.contact_telephone_number %></td>
      </tr>

      <tr>
        <th>Type of organization:</th>
        <td><%= @institution.type_of_organization %></td>
      </tr>

      <tr>
        <th>Major objectives:</th>
        <td><%= @institution.major_objectives %></td>
      </tr>
    </table>
    <hr/>
    <% if can? :edit, @institution %>
        <%= link_to edit_institution_path(@member) do %>
            <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i> Edit</button>
        <% end %>
    <% end %>
  </div>
</div>
