<% if current_user.admin? %>
    <li>
      <%= link_to users_path do %>
          <i class="material-icons">group</i>
          <span class="nav-label">Users</span>
      <% end %>
    </li>

  <li>
    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">build</i>
      <span class="nav-label">System Settings</span>
    </a>
    <ul>
      <li><%= link_to 'Payment Years', mp_years_path %></li>
      <li><%= link_to 'Payment Settings', mp_amount_settings_path %></li>
      <li><%= link_to 'Profession Categories', profession_categories_path %></li>
      <li><%= link_to 'Professions', professions_path %></li>
    </ul>
  </li>

  <li>
    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">widgets</i>
      <span class="nav-label">Organization Structure</span>
    </a>
    <ul>
      <li><%= link_to 'Organization Types', organization_types_path %></li>
      <li><%= link_to 'Organization Units', organization_units_path %></li>
    </ul>
  </li>
 
    <li>
    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">group</i>
      <span class="nav-label">Members</span>
    </a>
    <ul>
      <li><%= link_to 'Membership Types', membership_types_path %></li>
      <li><%= link_to 'Members', people_path %></li>
    </ul>
  </li>

  <li>
    <%= link_to payments_path do %>
      <i class="material-icons">attach_money</i>
      <span class="nav-label">Payments</span>
    <% end %>
  </li>

<% end %>