<% if current_user and current_user.super_admin? %>
    <li>
      <%= link_to payment_dashboard_path do %>
          <i class="material-icons">dashboard</i>
          <span class="nav-label">Dashboard</span>
      <% end %>
    </li>

    <li>
      <%= link_to nil do %>
          <i class="material-icons">school</i>
          <span class="nav-label">My CPD</span>
      <% end %>
    </li>


    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">widgets</i>
        <span class="nav-label">Membership</span>
      </a>
      <ul>
        <li><%= link_to 'Membership Types', membership_types_path %></li>
        <li><%= link_to 'Members', members_path %></li>
        <li><%= link_to 'Payment Settings', mp_amount_settings_path %></li>
        <li><%= link_to 'Member Payments', payments_path %></li>
        <li><%= link_to 'ID Card Management', id_cards_members_path %></li>
      </ul>
    </li>

    <li>
      <%= link_to events_path do %>
          <i class="material-icons">event</i>
          <span class="nav-label">Events</span>
      <% end %>
    </li>

    <li>
        <%= link_to reports_members_path do %>
            <i class="material-icons">insert_chart</i>
            <span class="nav-label">Reports</span>
        <% end %>
      </ul>
    </li>

<% end %>