<% if current_user %>
    <% if current_user and current_user.person.try(:status)==true %>
        <li class="dropdown email-menu">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="material-icons">email</i>
            <span class="label-count"><%= current_user.new_support_requests.count %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">New Messages</li>
            <li class="body">
              <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 255px;"><ul class="menu" style="overflow: hidden; width: auto; height: 255px;">
                <li>
                  <% current_user.new_support_requests.each do |sr| %>
                    <li>
                      <%= link_to sr do %>
                          <div class="info">
                            <h4><%= sr.sender_user %></h4>
                            <span class="time"><i class="material-icons">access_time</i><%= distance_of_time_in_words_to_now(sr.created_at) %></span>
                            <p>
                              <%= sr.subject %>
                            </p>
                          </div>
                      <% end %>
                    </li>
                <% end %>
                </li>
              </ul><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 202.57px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
            </li>
            <li class="footer">
              <%= link_to "View All Messages", support_requests_path %>
            </li>
          </ul>
        </li>
    <% end %>
    <% unless current_user.organization_unit.blank? %>
        <li class="dropdown email-menu">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="material-icons">people</i>
            <span class="label-count"><%= current_user.new_members.count %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">New Members</li>
            <li class="body">
              <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 255px;"><ul class="menu" style="overflow: hidden; width: auto; height: 255px;">
                <li>
                  <% current_user.new_members.each do |member| %>
                    <li>
                      <%= link_to main_app.person_path(member) do %>
                          <div class="info">
                            <h4><%= member %></h4>
                            <span class="time"><i class="material-icons">access_time</i><%= distance_of_time_in_words_to_now(member.created_at) %></span>
                          </div>
                      <% end %>
                    </li>
                <% end %>
                </li>
              </ul><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 202.57px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
            </li>
            <li class="footer">
              <%= link_to "New Members", main_app.people_path(status: nil) %>
            </li>
          </ul>
        </li>
    <% end %>

    <li class="dropdown user-menu">
      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
        <%= image_tag current_user.person.photo.url(:medium) rescue nil %>
        <span class="hidden-xs"><%= current_user.person || current_user.email %></span>
      </a>
      <ul class="dropdown-menu">
        <li class="header">
          <%= image_tag current_user.person.photo.url(:medium) rescue nil %>
          <div class="user">
            <%= current_user.person || current_user.email %>
            <div class="title"><%= current_user.person.try(:profession) %></div>
          </div>
        </li>
        <li class="body">
          <ul>
            <li>
              <%= link_to current_user.person do %>
                  <i class="material-icons">account_circle</i> Profile
              <% end %>
            </li>
            <li>
              <%= link_to main_app.edit_user_registration_path do %>
                  <i class="material-icons">lock_open</i> Change Password
              <% end %>
            </li>
          </ul>
        </li>
        <li class="footer">
          <%= link_to 'Log Out', main_app.destroy_user_session_path,class: "btn btn-default btn-sm btn-block" %>
        </li>
      </ul>
    </li>
    </li>
<% end %>