<%= simple_form_for(@organization_type) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, class: "form-control show-tick" %>
  <%= f.input :description, class: "form-control show-tick" %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
