<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
    <div class="row">
<div class="col-sm-3">
  <label class="control-label right"></label>
</div>
    <div class="col-sm-9">
      <%= raw @support.message %>
    </div>
    </div>
    <hr/>
  <div class="form-inputs">
    <%= f.association :support_request, as: :hidden %>
    <%= f.association :user, as: :hidden, input_html: {value: current_user.id} %>
    <%= f.input :message, label: 'Reply Message', input_html: {class: 'wysihtml5'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Send', class: 'btn btn-primary' %>
  </div>
<% end %>
