<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>
    <div class="row">

      <div class="col-sm-6">
        <%= f.input :organization_unit_id, collection: [@organization_unit] if @organization_unit %>
        <%= f.input :facility_id, collection: @organization_unit.try(:facilities) if @facility %>
        <%= f.input :institution_id, collection: Institution.all if @institution %>
        <%= f.input :title %>
        <%= f.association :membership_type %>
        <%= f.input :first_name, class: "form-control show-tick" %>
        <%= f.input :middle_name, class: "form-control show-tick" %>
        <%= f.input :last_name, class: "form-control show-tick" %>
        <%= f.input :gender, as: :radio_buttons, wrapper: :horizontal_collection, item_wrapper_tag: 'span', collection: ['Male', 'Female'] %>
        <%= f.input :date_of_birth, as: :string,  input_html: {"data-format": "YYYY-MM-DD",class: "js-dtp"} %>
      </div>

      <div class="col-sm-6" style="border-left: 1px solid silver">
        <%= f.association :profession_category %>
        <span id="profession_loading_indicator"><%= image_tag('ajax-loader.gif') %></span>
        <div id="professions_display">
          <%= render partial: 'profession' %>
        </div>

        <%= f.input :job_title %>
        <%= f.input :email, class: "form-control show-tick" %>
        <%= f.input :phone_number, class: "form-control show-tick" %>
        <%= f.input :country, class: "form-control show-tick" %>
        <%= f.input :address, class: "form-control show-tick" %>
        <%= f.input :photo, as: :file, class: "form-control show-tick" %>
      </div>

    </div>

  <div class="form-actions">
    <%= f.button :submit, 'Create Member', class: 'btn btn-primary' %>
  </div>
<% end %>
