<%= simple_nested_form_for(@person) do |f| %>
    <%= f.error_notification %>
      <div class="row">

        <div class="col-sm-6">
          <%= f.input :user_id, as: :hidden, input_html: {value: f.object.user_id} %>
          <%= f.input :title %>
          <%= f.input :first_name, class: "form-control show-tick" %>
          <%= f.input :middle_name, class: "form-control show-tick" %>
          <%= f.input :last_name, class: "form-control show-tick" %>
          <%= f.input :gender, as: :radio_buttons, wrapper: :horizontal_collection, item_wrapper_tag: 'span', collection: ['Male', 'Female'] %>
          <%= f.input :date_of_birth, as: :string,  input_html: {"data-format": "YYYY-MM-DD",class: "js-dtp"} %>
          <%= f.input :photo, as: :file, class: "form-control show-tick" %>
          <%= f.association :membership_type %>
          <%= f.input :phone_number, class: "form-control show-tick" %>
          <%= f.input :email, class: "form-control show-tick" if f.object.user_id.blank?  %>
        </div>

        <div class="col-sm-6">
            <div id="member_organization_tree"></div>
            <%= f.association :organization_unit, as: :hidden %>
            <%= f.input :kebelle %>
            <%= f.input :house_number %>
            <%= f.input :facility_id, collection: @organization_unit.try(:facilities) %>
            <%= render partial: '/people/profession' %>
            <%= f.input :job_title %>
        </div>
      </div>
<% end %>

