<style>
  th{
    text-align: left;
  }
    td{
      text-align: center;
    }
</style>
<div class="id_card" style="width: 450px; height: 250px; border: 1px solid gray; padding: 10px; border-radius: 6px">
  <div class="id_card_header" style="border-bottom: 5px solid #2992a7; margin-bottom: 10px">
    <%= wicked_pdf_image_tag 'logo.png', height: '80px' %>
  </div>
  <div class="body_and_footer">
    <div class="id_card_body">
      <table width="100%">
        <tr>
          <td>
            <table width="100%" cellpadding="2">
              <tr>
                <th colspan="2" style="border-bottom: 1px solid silver"><center>ID No. <%= @person.id_number %></center></th>
              </tr>
              <tr>
                <td>Name</td> <th><%= @person.full_name %></th>
              </tr>
              <tr>
                <td>Membership Type</td> <th><%= @person.membership_type %></th>
              </tr>
              <tr>
                <td>Mobile Number</td> <th><%= @person.phone_number %></th>
              </tr>
              <tr>
                <td>Joined Year</td> <th><%= @person.created_at.year %></th>
              </tr>
            </table>
          </td>
          <th style="text-align: right">
            <%= wicked_pdf_image_tag @person.photo.url(:medium), height: '120px' %>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>