<div class="panel-heading">
  Member Details
</div>
<div class="panel-body">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs tab-nav-right" role="tablist">
    <li role="presentation" class="active"><a href="#personal_details" data-toggle="tab" aria-expanded="false"><i class="fa fa-user m-r-5"></i> Personal Details</a></li>
    <li role="presentation"><a href="#id_card" data-toggle="tab"><i class="fa fa-book m-r-5"></i> ID Card</a></li>
    <li role="presentation"><a href="#payments" data-toggle="tab"><i class="fa fa-book m-r-5"></i> Payments</a></li>
    <li role="presentation"><a href="#education" data-toggle="tab" aria-expanded="false"><i class="fa fa-graduation-cap m-r-5"></i> Education</a></li>
    <li role="presentation"><a href="#experience" data-toggle="tab"><i class="fa fa-suitcase m-r-5"></i> Work Experience</a></li>
    <li role="presentation"><a href="#trainer" data-toggle="tab"><i class="fa fa-address-card m-r-5"></i> Trainer Profile</a></li>
    <li role="presentation"><a href="#training" data-toggle="tab"><i class="fa fa-book m-r-5"></i> Trainings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="personal_details">
      <div class='row'>
        <div class='col-sm-4'>
          <%= image_tag @person.photo.url(:medium) %>
        </div>
        <div class='col-sm-8'>
          <div class='row'>
            <div class='col-sm-3'><b>Membership Status</b></div>
            <div class='col-sm-3 <%= @person.status.blank? ? "alert-danger" : 'alert-success' %>'><%= @person.membership_status %>
              <%= link_to 'Confirm Member', confirm_person_path(@person), class: 'btn btn-primary' if can? :confirm, @person %></div>
          </div>
          <hr/>
          <div class='row'>
            <div class='col-sm-3'><b>Name</b></div>
            <div class='col-sm-6'><%= @person.full_name %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>ID Number</b></div>
            <div class='col-sm-6'><%= @person.id_number %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Profession</b></div>
            <div class='col-sm-6'><%= @person.profession %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Gender</b></div>
            <div class='col-sm-6'><%= @person.gender %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>DOB</b></div>
            <div class='col-sm-6'><%= @person.date_of_birth %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Email</b></div>
            <div class='col-sm-6'><%= @person.email %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Phone Number</b></div>
            <div class='col-sm-6'><%= @person.phone_number %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Region/Zone/Woreda</b></div>
            <div class='col-sm-6'><%= @person.organization_unit %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Kebelle</b></div>
            <div class='col-sm-6'><%= @person.kebelle %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>House Number</b></div>
            <div class='col-sm-6'><%= @person.house_number %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Facility</b></div>
            <div class='col-sm-6'><%= @person.facility %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Profession</b></div>
            <div class='col-sm-6'><%= @person.profession %></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'><b>Job Title</b></div>
            <div class='col-sm-6'><%= @person.job_title %></div>
          </div>
          <hr/>
          <%= link_to edit_person_path(@person) do %>
              <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i> Edit</button>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="id_card">
      <div class="id_card" style="width: 450px; height: 250px; border: 2px solid #ddd; padding: 10px; border-radius: 6px">
        <div class="id_card_header" style="border-bottom: 5px solid #2992a7; margin-bottom: 20px">
          <%= image_tag 'logo.png', height: '80px' %>
        </div>
        <div class="body_and_footer">
          <div class="id_card_body">
            <table width="100%">
              <tr>
                <td>
                  <table width="100%" cellpadding="5">
                    <tr>
                      <th colspan="2" style="border-bottom: 1px solid silver"><center>ID Number: <%= @person.id_number %></center></th>
                    </tr>
                    <tr>
                      <td>Name</td> <th><%= @person.full_name %></th>
                    </tr>
                    <tr>
                      <td>Membership Type</td> <th><%= @person.membership_type %></th>
                    </tr>
                    <tr>
                      <td>Mobile Number</td> <th><%= @person.phone_number %></th>
                    </tr>
                    <tr>
                      <td>Joined Year</td> <th><%= @person.created_at.year %></th>
                    </tr>
                  </table>
                </td>
                <th style="text-align: right">
                  <%= image_tag @person.photo.url(:medium), height: '120px' %>
                </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <br/>
      <%= link_to membership_idcard_person_path(@person, format: :pdf) do %>
          <button class="btn btn-primary"><i class="material-icons">file_download</i> Download ID Card</button>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="payments">
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            Paid Membership Fees
          </div>
          <div class="panel-body">
            <table class="table table-responsive">
              <thead>
              <tr>
                <th>Budget Year</th>
                <th>Amount</th>
                <th>Paid Date</th>
                <th>Attachment</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @person.payments.each do |payment| %>
                  <tr>
                    <td><%= payment.budget_year %></td>
                    <td><%= payment.budget_year.payment_amount(payment.person.membership_type_id) rescue nil %></td>
                    <td><%= payment.created_at %></td>
                    <td><%= link_to 'Download', payment.attachment.url %></td>
                    <td><%= payment.payment_status %>  <%= link_to 'Confirm Payment', confirm_payment_path(payment), class: 'btn btn-primary' if payment.status.blank? and can? :confirm, Payment %></td>
                    <td>
                      <%= link_to edit_payment_path(payment) do %>
                          <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i> Edit</button>
                      <% end %>
                      <%= link_to payment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <button type="button" class="btn btn-outline btn-danger"><i class="fa fa-remove"></i> Delete</button>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Unpaid Membership Fees
          </div>
          <div class="panel-body">
            <table class="table table-responsive">
              <thead>
              <tr>
                <th>Budget Year</th>
                <th>Amount</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @person.unpaid_fees.each do |year| %>
                  <tr>
                    <td><%= year %></td>
                    <td><%= current_user.person.payment_amount(year.id) rescue nil %></td>
                    <td>
                      <%= link_to new_payment_path(person: current_user.person.try(:id), year: year.id) do %>
                          <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Pay Now </button>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="education">
      <table class="table table-responsive">
        <thead>
        <tr>
          <th>Study Field</th>
          <th>Institution</th>
          <th>From</th>
          <th>To</th>
          <th>Qualification</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @person.educations.each do |ed| %>
            <tr>
              <td><%= ed.study_field %></td>
              <td><%= ed.institution_name %></td>
              <td><%= ed.from %></td>
              <td><%= ed.to %></td>
              <td><%= ed.qualification %></td>
              <td>
                <%= link_to ed do %>
                    <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i>Edit</button>
                <% end %>
                <%= link_to ed, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button type="button" class="btn btn-outline btn-danger"><i class="fa fa-plus"></i> Delete </button>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to new_education_path(person: @person.id) do %>
          <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Add New Education</button>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="experience">
      <table class="table table-responsive">
        <thead>
        <tr>
          <th>Company</th>
          <th>Job Title</th>
          <th>From</th>
          <th>To</th>
          <th>Description</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @person.work_experiences.each do |experience| %>
            <tr>
              <td><%= experience.company %></td>
              <td><%= experience.job_title %></td>
              <td><%= experience.from %></td>
              <td><%= experience.to %></td>
              <td><%= experience.description %></td>
              <td>
                <%= link_to experience do %>
                    <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i> Edit</button>
                <% end %>
                <%= link_to experience, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button type="button" class="btn btn-outline btn-danger"><i class="fa fa-remove"></i> Delete</button>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to new_work_experience_path(person: @person.id) do %>
          <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Add New Work Experience</button>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="trainer">
      <% unless @person.trainer_profile.blank? %>
          <div class='row'>
            <div class='col-sm-3'>Trainer Type</div>
            <div class='col-sm-6'><b><%= @person.trainer_profile.trainer_type %></b></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'>Primary Job Responsiblities</div>
            <div class='col-sm-6'><b><%= @person.trainer_profile.primary_job %></b></div>
          </div>

          <div class='row'>
            <div class='col-sm-3'>Secondary Job Responsibilities</div>
            <div class='col-sm-6'><b><%= @person.trainer_profile.secondary_job %></b></div>
          </div>
          <br/>
          <div class='row'>
            <legend>Training Topics in which you are competent as a trainer</legend>
            <ul>
              <% @person.trainer_profile.trainer_training_titles.each do |topic| %>
                  <li><%= topic.training_title %></li>
              <% end %>
            </ul>
          </div>

          <div class='row'>
            <legend>Languages spoken fluently</legend>
            <ul>
              <% @person.trainer_profile.trainer_languages.each do |language| %>
                  <li><%= language.language %></li>
              <% end %>
            </ul>
          </div>
          <hr/>
          <%= link_to edit_trainer_profile_path(@person.trainer_profile) do %>
              <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i>Edit</button>
          <% end %>
      <% end %>
      <% if @person.trainer_profile.blank? %>
          <%= link_to new_trainer_profile_path(person: @person.id) do %>
              <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i>Add Trainer Profile</button>
          <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="training">
      <legend>Trainings Taken</legend>
      <% unless @person.trainees.blank? %>
          <table class="table table-responsive">
            <thead>
            <tr>
              <th>Training Topic</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Pre Training Score</th>
              <th>Post Training Score</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <% @person.trainees.each do |training| %>
                <tr>
                  <td><%= training.training %></td>
                  <td><%= training.training.start_time %></td>
                  <td><%= training.training.end_time %></td>
                  <td><%= training.pre_training_score %></td>
                  <td><%= training.post_training_score %></td>
                  <td><%= training.trainee_status %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>

      <legend>Trainings Given</legend>
      <% unless @person.trainers.blank? %>
          <table class="table table-responsive">
            <thead>
            <tr>
              <th>Training Topic</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @person.trainers.each do |training| %>
                <tr>
                  <td><%= training.training %></td>
                  <td><%= training.training.start_time %></td>
                  <td><%= training.training.end_time %></td>
                  <td>
                    <%= link_to training_path(training.training) do %>
                        <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-list"></i> Details</button>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
  </div>
</div>