<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @individual.member %>
</p>

<p>
  <strong>Person:</strong>
  <%= @individual.person %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
