<%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email %>
    <%= f.association :institution, selected: @institution, prompt: true, class: "form-control show-tick" %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, label: 'Confirm Password' %>

    <div class="form-actions">
      <%= f.button :submit, 'Submit', class: 'btn btn-outline btn-primary' %>
    </div>
<% end %>
