<div class="panel-body">
<h1 class="bold">
  <%= @event.title %>
</h1>
<hr/>
<p>
  <%= raw @event.event_details %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.event_date %>
</p>

  <p>
    <strong>Place:</strong>
    <%= @event.location %>
  </p>

  <p>
    <strong>Contact Person:</strong>
    <%= @event.contact_person %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @event.contact_phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @event.contact_email %>
  </p>
  <hr/>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>