<div class="panel-body">
<h1 class="bold">
  <%= @event.title %>
</h1>
<hr/>
<p>
  <%= raw @event.event_details %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.event_date %>
</p>

  <p>
    <strong>Place:</strong>
    <%= @event.location %>
  </p>

  <p>
    <strong>Contact Person:</strong>
    <%= @event.contact_person %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @event.contact_phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @event.contact_email %>
  </p>

  <p>
    <strong>Applicants:</strong>
    <%= @event.event_applicants.count %> <%= link_to 'List Applicants', event_applicants_path(event: @event.id), class: 'btn btn-lg btn-primary' %>
  </p>
  <hr/>
  <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-lg btn-primary' %>
  <%= link_to 'Apply', apply_event_path(@event, applicant: current_user.person.try(:id)), class: 'btn btn-lg btn-primary' unless @event.applied(current_user.person.try(:id))%>
</div>