<%= simple_form_for(@training_material) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :training_title %>
    <%= f.input :name %>
    <%= f.input :attachment, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>