<p id="notice"><%= notice %></p>

<h1>Work Experiences</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Company</th>
      <th>Job title</th>
      <th>From</th>
      <th>To</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_experiences.each do |work_experience| %>
      <tr>
        <td><%= work_experience.person %></td>
        <td><%= work_experience.company %></td>
        <td><%= work_experience.job_title %></td>
        <td><%= work_experience.from %></td>
        <td><%= work_experience.to %></td>
        <td><%= work_experience.description %></td>
        <td><%= link_to 'Show', work_experience %></td>
        <td><%= link_to 'Edit', edit_work_experience_path(work_experience) %></td>
        <td><%= link_to 'Destroy', work_experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Experience', new_work_experience_path %>
