<%= simple_form_for(@mp_amount_setting) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :mp_year %>
    <%= f.association :membership_type %>
    <%= f.input :amount %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
