<div class="panel-heading">
    Membership Payment Settings
</div>
<div class="panel-body">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Payment year</th>
      <th>Membership type</th>
      <th>Amount</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mp_amount_settings.each do |mp_amount_setting| %>
      <tr>
        <td><%= mp_amount_setting.name %></td>
        <td><%= mp_amount_setting.mp_year %></td>
        <td><%= mp_amount_setting.membership_type %></td>
        <td><%= mp_amount_setting.amount %></td>
        <td><%= mp_amount_setting.description %></td>
        <td><%= link_to 'Show', mp_amount_setting %>
        <%= link_to 'Edit', edit_mp_amount_setting_path(mp_amount_setting) %>
        <%= link_to 'Destroy', mp_amount_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
      <%= link_to new_mp_amount_setting_path do %>
        <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> New Membership Payment Setting</button>
      <% end %>
</div>