<div class="panel-heading">
    Professions
</div>
<div class="panel-body">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Profession category</th>
      <th>Name</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @professions.each do |profession| %>
      <tr>
        <td><%= profession.profession_category %></td>
        <td><%= profession.name %></td>
        <td>
          <%= link_to edit_profession_path(profession) do %>
            <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-edit"></i> Edit</button>
          <% end %>
          <%= link_to profession, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-remove"></i> Delete</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to new_profession_path do %>
    <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Add Profession</button>
  <% end %>
</div>