<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if current_user.has_role('Admin') %>
        <%= f.input :status, as: :hidden, input_html: {value: true} %>
    <% end %>
    <%= f.input :member_id, label: 'Member', collection: @members.map{|m| [m.to_s, m.try(:id)]}, prompt: true %>
    <%= f.association :budget_year, prompt: true %>
    <div id="amount_display">
      <%= render partial: '/payments/amount' %>
    </div>
    <%= f.input :payment_method, collection: ['In Cash', 'Bank Deposit'], as: :radio_buttons %>
    <%= f.input :attachment, label: 'Attach Receipt', as: :file, class: "form-control show-tick" %>
    <%= f.input :remark %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
