<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :person_id, label: 'Member', collection: @people.map{|p| [p.to_s, p.try(:id)]} %>
    <%= f.association :mp_year, label: 'Payment Year' %>
    <%= f.input :remark %>
    <%= f.input :attachment, label: 'Attach Receipt', as: :file, class: "form-control show-tick" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
