<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @payment.person %>
</p>

<p>
  <strong>Mp year:</strong>
  <%= @payment.mp_year %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @payment.remark %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
