<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program_area.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program_area.description %>
</p>

<%= link_to 'Edit', edit_program_area_path(@program_area) %> |
<%= link_to 'Back', program_areas_path %>
