<p id="notice"><%= notice %></p>

<h1>Trainee Distributions</h1>

<table>
  <thead>
    <tr>
      <th>Training</th>
      <th>Organization unit</th>
      <th>Number of trainees</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainee_distributions.each do |trainee_distribution| %>
      <tr>
        <td><%= trainee_distribution.training %></td>
        <td><%= trainee_distribution.organization_unit %></td>
        <td><%= trainee_distribution.number_of_trainees %></td>
        <td><%= link_to 'Show', trainee_distribution %></td>
        <td><%= link_to 'Edit', edit_trainee_distribution_path(trainee_distribution) %></td>
        <td><%= link_to 'Destroy', trainee_distribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trainee Distribution', new_trainee_distribution_path %>
