<div class="panel-heading">
  Event Applicants
</div>
<div class="panel-body">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organization Unit</th>
      <th>Facility</th>
      <th>Institution</th>
      <th>Applied Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @event_applicants.each do |event_applicant| %>
      <tr>
        <td><%= event_applicant.person %></td>
        <td><%= event_applicant.person.organization_unit %></td>
        <td><%= event_applicant.person.facility %></td>
        <td><%= event_applicant.person.institution %></td>
        <td><%= event_applicant.created_at.strftime("%B %d, %Y") %></td>
        <td><a><%= best_in_place event_applicant, :status, as: :checkbox, collection: {false: "Pending", true: "Accepted"} %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>