<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @education.person %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @education.institution_name %>
</p>

<p>
  <strong>Study field:</strong>
  <%= @education.study_field %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @education.qualification %>
</p>

<p>
  <strong>From:</strong>
  <%= @education.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @education.to %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
