<hr/>
<div class="row">
  <label class="col-sm-3 col-form-label">Board Members</label>
  <div class="col-sm-9">
    <%= f.simple_fields_for :board_members do |bf| %>
        <div class="row fields">
          <div class="col-sm-5"><%= bf.input :person_id, label: false, prompt: 'Select Member', collection: Person.all.collect{|x| [x.to_s, x.id]} %></div>
          <div class="col-sm-5"><%= bf.input :role, label: false, prompt: 'Select Role', collection: Constants::BOARD_MEMBERS %></div>
          <div class="col-sm-2">
            <%= bf.link_to_remove do %>
                <button type="button" class="btn btn-rounded btn-outline btn-danger"><i class="fa fa-close"></i> Remove</button>
            <% end %>
          </div>
        </div>
        <%= javascript_include_tag 'global' %>
    <% end %>

    <%= f.link_to_add :board_members do %>
        <button type="button" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i> Add Board Member</button>
    <% end %>
  </div>
</div>
