<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ethiopian Midwives Association</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    'dogger/index', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" id="home-section">


<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  <header class="site-navbar js-sticky-header site-navbar-target" role="banner" >

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-xl-2">
          <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">EMWA<span class="text-primary">.</span> </a></h1>
        </div>

        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><%= link_to 'Home', root_path, class: 'nav-link' %></li>
              <li class="has-children">
                <a href="#about-section" class="nav-link">About</a>
                <ul class="dropdown">
                  <li><a href="#board-section" class="nav-link">EMWA Board</a></li>
                </ul>
              </li>

              <li><a href="#news-section" class="nav-link">News</a></li>
              <li><a href="#events-section" class="nav-link">Events</a></li>
              <li><a href="#publications-section" class="nav-link">Publications</a></li>
              <% Page.all.each do |p| %>
                  <li><a href="#<%= p.name.split.join << '-section' %>" class="nav-link"><%= p.name %></a></li>
              <% end %>
              <li><%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %></li>
            </ul>
          </nav>
        </div>


        <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>

  </header>
<br/><br/><br/>
  <%= yield %>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                <li><a href="#services-section" class="smoothscroll">Services</a></li>
                <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p class="copyright"><small>
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
              </small></p>

          </div>
        </div>

      </div>
    </div>
  </footer>

</div> <!-- .site-wrap -->

<%= javascript_include_tag 'dogger/index' %>

</body>
</html>