<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Membership Type</th>
      <th>Organization Unit/Facility</th>
      <th>Member ID</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @members.each do |member| %>
        <tr>
          <td><%= member %></td>
          <td><%= member.membership_type %></td>
          <td><%= member.org_unit %></td>
          <td><%= member.id_number %></td>
          <td><%= link_to 'Details', member, class: 'btn btn-primary' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>